<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1 class="text-danger "> <img src="images/survey.png" alt="Survey Icon" class="mr-2" style="width: 70px;">US/CA Survey</h1>
    <form action="/submit-survey" method="post">
      <h2 class="text-info"><img src="images/fruit.png" alt="Fruit Icon" class="mr-2" style="width: 70px;">
        What fruits(s) do you like? </h2>
      I like:<br>
      <input type="text" name="fruit" placeholder="fruit name..." required />
      <br>
      <br>
      <br>
      <h2 class="text-info"> <img src="images/meal.png" alt="Meal Icon" class="mr-2" style="width: 70px;">What is your favourite meal? </h2>
      I like:<br>
      <input type="text" name="meal" placeholder="meal name..." required />
      <br>
      <br>
      <h2 class="text-info"><img src="images/color.png" alt="Color Icon" class="mr-2" style="width: 70px;"> What color(s) do you like? </h2>
	    I like:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <br>
      <h2 class="text-info"><img src="images/season.png" alt="Season Icon" class="mr-2" style="width: 70px;"> What is your favourite season? </h2>
	    I like:<br>
		  <input type="checkbox" name="season" value="Spring"> Spring<br>
		  <input type="checkbox" name="season" value="Summer"> Summer<br>
      <input type="checkbox" name="season" value="Fall"> Fall<br>
      <input type="checkbox" name="season" value="Winter"> Winter<br>
      <br>
      <h2 class="text-info"><img src="images/animals.png" alt="Animals Icon" class="mr-2" style="width: 70px;">What is your favorite animal?</h2>
      I like:<br>
      <select name="animal">
        <option value="blank" selected="selected"></option>
			  <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Lion">Lion</option>
			  <option value="Turtle">Turtle</option>
      </select>
      <br>
      <br>
      <h2 class="text-info"><img src="images/us.png" alt="Country Icon" class="mr-2" style="width: 70px;">What country are you from?
      <img src="images/canada.png" alt="Canada Icon" class="mr-2" style="width: 70px;"></h2>
      Country:<br>
      <select name="country">
			  <option value="blank" selected="selected"></option>
        <option value="Canada">Canada</option>
			  <option value="United States">United States</option>
      </select>
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-success" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 
